.title {
    font-family: Montserrat,sans-serif;
    color: #637d99;
    line-height: 28px;
    font-size: 28px;
    margin: 20px 45px 24px;
    font-weight: 600;
    text-align: left;
    height: auto;
}
.btn{
    background-color: #637d99;
    margin-left: 10px;
}

.syb {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 15px;
    margin-bottom: 10px;
}


