.blogContainer {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  padding: 0 10%;
  justify-content: center;
  align-content: center;
}

.btn {
  background-color: #637d99;
  width: 130px;
  margin-left: 5px;
  text-align: center;
}

.syb {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 15px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
