.title {
    font-family: Montserrat,sans-serif;
    color: #637d99;
    line-height: 28px;
    font-size: 28px;
    margin: 20px 45px 24px;
    font-weight: 600;
    text-align: left;
    height: auto;
}
.btn{
    font-family: Montserrat,sans-serif;
    margin-left: -1300px;
    margin-bottom: 15px;
}

