.about {
    width: 100%;
    position: relative;
    top: 35px;
    padding-right: 15px;
}



.Badge {
    margin-right: 10px;

}

.Especialidades {
    display: flex;
    position: relative;
    top: 20px
}

.verPerfil{
    display: flex;
    position: relative;
    top: 90px
    
}