.container {
    width: 90%;
    height: 250px;
    display: inline-block;
    position: relative;
    bottom: 500px;
    margin-bottom: 40px;
    top: 150px;
    font-family: sans-serif;
    background-color: rgba(11, 75, 68, 0.027);
}

.ProfileBox {
    width: 270px;
    height: 100%
}

.avatar {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.about {
    width: 100%;
    position: relative;
    top: 35px;
    padding-right: 15px;
    margin-bottom: 50px;
    height: 105px;
}

.containerCenter {
    width: 650px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-right: 1px solid;
    border-color: rgba(207, 207, 207, 0.822);

}


.Badge {
    margin-right: 10px;
}

.Especialidades {
    display: flex;
    position: relative;
    top: 20px
}

.profile {
    display: flex;
    
}



.containerBottom {
    width: 290px;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.iconCard {
    position: absolute;
    top: 0;
    bottom: 110px;
    left: 0;
    right: 0;
    margin: auto;
    width: 70px;
    height: 70px;
}

.textcalendar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 120px;
    font-size: 15px;
    width: 80%;font-weight: 550;
    color: rgba(6, 6, 77, 0.637);
   
}

.appointmentButton{
    position: relative;
    margin: auto;
    top: 180px;
    width: 150px;
    color: rgb(247, 247, 247);
}