.container {
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.img {
  display: flex;
  align-items: center;
  height: 400px;
  width: 820px;
  margin: -20px 250px 10px;
  border-radius: 5px;
}

.psyinfo{
    /* border: black solid 1px; */
    border-radius: 8px;
    /* background-color: rgba(233, 241, 247, 0.868); */
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    width: 430px;
    height: 60px;
    margin: -80px 420px 50px 
}

.psytext{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name{
    color: rgba(46, 46, 173, 0.897);
    font-size: 20px;
    margin-left: 3px;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
  display: flex;
  margin: 10px 250px 50px;
}

.content {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  width: 800px;
  margin: -10px 250px 10px;
  text-align: left;
}

.tags {
  display: flex;
  justify-content: baseline;
  margin: 5px 250px;
  padding: 3px;
}

.about{
    width: 300px;
}
