.psychologistDetailContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    justify-content: space-between;    
}


.imageDetailLogo {
    align-items: center;
    align-content: center;
    align-self: center;
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
    33% {
        transform: translateY(-20px);
    }
    66% {
        transform: translateY(0px);
    }
}

.BoxDetail {
    box-shadow: 0 30px 40px 40px rgba(0, 0, 0, .1);
}

.HeaderDetail {
    /* background-color: #4d5dfb; */
    background-image: linear-gradient(315deg, #9AE6B4 0%, #38B2AC 74%);
    /* background-color: #4d5dfb;
    background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%); */
}

.ProfileImage {
    width: fit-content;
    height: fit-content;
    border-top-left-radius: 10px;
}

.postTitle {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(255,255,255,0.8);    
    width: inherit;
    height: 100%;        
    justify-content: space-between;    
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1em;
    top: -10em;
}
.postTitle:hover {
    justify-content: center; 
    height: 100%;
    top: -20em;
    border-radius: 1em;
    animation: animate 0.5s ease;
}
@keyframes animate {
    0% {
        transform: translateY(7em);
    }
    100% {
        transform: translateY(0);
    }
}

.postTitleText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
}
.verMasText {
    position: relative;
}

.map {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: initial;
    top: 30%;
    animation: frames .15s linear;
}

.reviews {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    top: 30%;
    animation: frames .15s linear;
  }
  @keyframes frames {
    0%  {transform: scale(0);}
    100% {transform: scale(100%);}
  }