.background {
    background-image: url('../../assets/landing-bg.png');
    background-size: 100%;
    background-repeat: repeat;
    height: inherit;
    width: 100%;
    background-position: center;
    z-index: 1;

}

.iconX {
    cursor: pointer;
}


.formContainer {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
}
