.background {
    background-image: url('../../assets/landing-bg.png');
    background-size: 100%;    
    height: inherit;
    width: 100%;
    background-position: top center;
    z-index: 1;
}

.iconX {
    cursor: pointer;
}


.formContainer {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
}
